{% extends '_layouts/elementindex' %}
{% do view.registerAssetBundle("rocketpark\\mux\\assetbundles\\mux\\MuxDashboardAsset") %}
{% set title = 'Mux Assets'|t('mux') %}
{% requirePermission "mux:assets" %}
{% set crumbs = [
    { label: "MUX"|t('mux'), url: url('/mux') },
    { label: "Assets"|t('mux'), url: url('/mux/assets') }
] %}
{% set elementType = "rocketpark\\mux\\elements\\MuxAsset" %}
{% set canHaveDrafts = false %}
{% set selectedSubnavItem = 'assets' %}   
{# {% set defaultSource = 'allassets' %} #}

{# {% block body %}
    {{ parent() }}
{% endblock %} #}

{% block content %}

    {{ parent() }}

    <div class="mux-dropzone-overlay">
        <div class="mux-dropzone-overlay_progress">
            <div class="mux-dropzone-overlay_label"></div>
            <div class="mux-progressbar">
                <div ref="bar"
                     class="mux-progressbar-inner"
                ></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block actionButton %}
    {{ parent() }}
    <div id="mux-upload">
        <upload-button view="element-index"></upload-button>
    </div>
{% endblock %}
