/* File.vue */
.mux-field-main {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
}

.mux-field {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 14px;
}

.mux-field > button {
    color: var(--ui-control-color);
    z-index: 2;
}

.mux-field > button:hover {
    color:rgba(96, 125, 159, .9);
}

.mux-player-figure {
    position: relative;
    max-width: 360px;
    width: 360px;
    z-index: 1;
}

.mux-asset-menu {
    position: relative;
}

.mux-asset-menu > div {
    right: 0;
    top: 100%;
    z-index: 50;
}
.mux-asset-menu > .menu {
    display: block !important;
}

.mux-asset-menu > .menu li {
    display: flex;
    align-items: center;
}

.mux-asset-menu > button > svg {
    color: currentColor;
    height: 32px;
    width: 32px;
}

.mux-asset-menu .xcircleicon{
    color: currentColor;
    height: 20px;
    width: 20px;
}
.mux-asset-menu .pluscircleicon {
    color: currentColor;
    height: 20px;
    width: 20px;
}

mux-player {
    --controls-backdrop-color: rgb(0 0 0 / 60%);
}